* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.calculation {
  text-align: center;
  font-size: 80;
}

.container-fluid {
  text-align: center;
}

.container-fluid p-5 {
  text-align: center;
  font-size: 50px;
  background-color: green;
}

.container-fluid p-2 {
  text-align: left;
}

#carousel {
  background-color: lightblue;
}

td.slider {
  text-align: left;
  background-color: yellow;
}

.sliding {
  width: 75%;
}
